.beer-header {
  background-color: black;
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
  margin: 1rem;
}

.beer-title {
  font-size: large;
  text-align: center;
  margin: 10px;
  width: 100%;
}

.beer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVlcnxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 1%;
  width: 100%;
}

.beer-container > div {
  background-color: antiquewhite;
  opacity: 0.7;
  text-align: center;
  margin: 10px;
  padding: 2em;
  margin-bottom: 3em;
  width: 200px;
  height: 250px;
  border-radius: 20%;
}

.beer-container > div:hover {
  opacity: 5;
  cursor: pointer;
}
